/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  color: black;
  text-rendering: optimizeLegibility;
  font-size: 32px;
  font-family: "roboto", "Arial", sans-serif;
}

h1 {
  font-size: 2.5rem;
  text-justify: auto;
  border-bottom: 5px solid #4407ed;
  padding: 2rem;
}
h2 {
  font-size: 2rem;
  padding: 2rem 0;
}
h3 {
  padding: 2rem 0;
}

/* .clearfix {
	zoom: 1;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
	visibility: hidden;
} */

/* Header */
header {
  background-color: white;
  color: black;
  text-rendering: optimizeLegibility;
  font-family: "barlow condensed", "Arial", sans-serif;
  display: grid;
  grid: "logo menu";
}

.main-nav {
  grid-area: menu;
  text-decoration: none;
  text-align: right;
  margin: 30px;
}

.header-logo {
  grid-area: logo;
  margin: 30px;
}
.header-logo p {
  font-weight: 700;
}
.main-nav li {
  display: inline-block;
  margin-right: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: black;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 5px solid #4407ed;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

/* Footer */
footer {
  background-color: white;
  color: black;
  text-rendering: optimizeLegibility;
  font-size: 24px;
  font-family: "barlow condensed", "Arial", sans-serif;
  text-align: center;
  margin: 2rem;
}

/* Common */
.title {
  text-align: center;
}

/* Home Page */
.home-cover {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.9)
    ),
    url(../img/SaaS-Business.jpg);
  height: 60vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.main-text,
.contact-section {
  margin: 0 2rem;
}

.about-me {
  background-color: #eee;
  padding-bottom: 2rem;
}

.about-contents {
  margin: 0 2rem;
}

.cover-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-contents img {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  margin: 1rem;
}

.cover-title {
  color: orange;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  padding: 20px;
}
/* Form*/
/* 
.row {
  max-width: 1140px;
  margin: 0 auto;
}

.contact-form {
  text-align: left;
  width: 60%;
  margin: 0 auto;
  font-size: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-size: 1rem;
}

input[type="submit"] {
  font-size: 1rem;
  width: 5rem;
  height: 2rem;
  border-radius: 10px;
  border: 5px, solid, #4407ed;
}

textarea {
  height: 200px;
} */

/* Project Page */

.main-text {
  margin: 2rem;
}

/* Project Page */
.project-table {
  table-layout: fixed;
  width: 100%;
  margin: 2rem 0;
}

.thumbnail-cell img {
  width: 100%;
}

.thumbnail-cell {
  text-align: center;
  background-color: #fff;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  background-color: lightgrey;
  padding: 10px;
}

.row-service {
  width: 20%;
}

.row-description {
  width: 55%;
}

.row-cost {
  width: 25%;
}

/* Detail Pages */
.details {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

.diagram {
  text-align: center;
}

.diagram img {
  width: 70%;
}

.description p {
  padding: 20px 0;
}
